.profile-wrapper {
  display: flex;
  height: 100vh;
  background: #f7f8ff;
}

/* Sidebar */
.profile-sidebar {
  width: 250px;
  background: linear-gradient(180deg, #2b2d5b, #000);
  padding: 25px;
  color: white;
}

.profile-logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 45px;
  color: #7baaff;
}

.profile-menu li {
  margin-bottom: 18px;
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.profile-menu li:hover,
.profile-menu .active {
  background: linear-gradient(90deg, #7e4bff, #3494e6);
}

.logout-btn {
  width: 100%;
  margin-top: 45px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff4e4e;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Main */
.profile-main {
  flex: 1;
  padding: 50px;
  overflow-y: auto;
}

.profile-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-sub {
  margin-bottom: 22px;
  color: gray;
}

.profile-box {
  background: white;
  width: 550px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.08);
}

.profile-box label {
  font-weight: 600;
}

.profile-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  font-size: 15px;
}

.save-btn {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #7e4bff, #3494e6);
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}