.btn-primary {
  background: var(--primary-gradient);
  padding: 12px 26px;
  border-radius: var(--button-radius);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.btn-primary:hover {
  opacity: 0.85;
}

.btn-outline {
  padding: 12px 26px;
  border-radius: var(--button-radius);
  border: 2px solid #6a11cb;
  background: none;
  color: #6a11cb;
  font-size: 16px;
  font-weight: 600;
}
.btn-outline:hover {
  background: #f0e9ff;
}